/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */

/* L		- 1 - */
/* L		- 2 - */
/* L		- 3 - */

/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */
/*
Yellow -ohmyfood / primary-color :		#fccc44
Green -header + footer /secondary-color:	#569c84

Mid gray (visited links) :	#0006a1
Light gray (h2) :		#747474
*/

@import "./base/polices.scss";
@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./components/buttons.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";


/* ---------------------------------------- */  
/* == ELEMENTS PRINCIPAUX */
/*---------------------------------------- */
.block {
	width: 100%;
	margin: 0;
}


/* ---------------------------------------- */
/* ==            PAGE D'ACCUEIL              */
/*---------------------------------------- */
.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items:center;
	max-width: 1200px;
}

.menu {
	text-align: center;
	box-shadow: $menu-umber;
	width: 230px;
	height: 320px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;


	&__zoom {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		opacity: 1;
		transition: transform 900ms ;
		align-items: center;

		&:hover {
			transform: scale(1.17);
			opacity: 0.7;
		}
	}


	&--1 {
		background-color: $color-m1-back;

		i {
			font-size: 1.7em;
			width: 51px;
			@include degrade-m1;
		}
	}

	&--2 {
		background-color: $color-m2-back;
	}

	&--3 {
		background-color: $color-m3-back;
	}

	&--4 {
		background-color: $color-m4-back;
	}


	&__title {
		font-weight: normal;
		text-align: center;

		&--1 {
			font-family: 'Devonshire-Regular', Arial, "Arial black", Impact, sans-serif;
			color: black;
			font-weight:initial;
			&-page {
				margin-top: 10px;
			}

		}

		&--2 {
			font-family: LobsterTwo-Regular, Arial, "Arial black", Impact, sans-serif;
			@include degrade-m2;
		}

		&--3 {
			font-family: 'DancingScript', Arial, "Arial black", Impact, sans-serif;
			@include degrade-m3;
		}

		&--4 {
			font-family: 'KaushanScript-Regular', Arial, "Arial black", Impact, sans-serif;
			@include degrade-m4;
		}
	}

	&__link {
		text-decoration: none;
		font-family: 'PatrickHand-Regular', Arial, "Arial black", Impact, sans-serif;
		font-style: italic;

		&--1 {
			color: black;
			font-weight: bold;
		}

		&--2 {
			color: $color-m2-1;
			font-family: 'Times New Roman', Times, serif;
			font-style: normal;
			font-weight: bold;
		}

		&--3 {
			color: $color-m3-2;
		}

		&--4 {
			color: $color-m4-2;
		}
	}


}

/* ---------------------------------------- */
/* == PAGES des menus */
/*---------------------------------------- */

.page__title {
	text-align: center;
	font-family: 'Roboto-Black', Arial, "Arial black", Impact, sans-serif;
}

.menu__page {
	width: 80%;
	margin: auto auto 80px auto;
	box-shadow: $menu-umber;
	padding: 10px;

	&--title {
		text-align: center;
		width: 90%;
		font-size: 2.1em;
		font-weight: initial;
		margin: 30px auto 30px auto;

		&-1 {
			margin: 30px auto 30px auto;
			font-size: 1.7em;
		}

		&-end {
			display: flex;
			justify-content: space-around;
			font-size: 1.2em;
			text-align: center;
			align-items: center;
			max-width: 50%;
			margin: auto;
		}
	}

	&--2 {
		font-family: 'Times New Roman';
	}

	&--others {
		font-family: PatrickHand-Regular, Arial, "Arial black", Impact, sans-serif;
	}
}

/* Contenu menu 1, 2, 3 et 4*/
/* Titres des catégories et plats */

.categories {
	margin-bottom: 15px;

	&__plates {
		display: flex;
		justify-content: space-between;
		&--m2 {
			&-1 {
				color: $color-m2-1
			}
			&-2 {
				color: $color-m2-2;
			}
			&-3 {
				color: $color-m2-3;
			}
		}
		&--left {
			width: 87%;
		}
		&--right {
			font-weight: bold;
		}
	}

	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&--element {
			width: auto;
			text-align: center;
			position: relative;
		}

		&--decoration {
			width: 30%;
			&-img {
				width: 100%;
			}
		}
		}

	&__2 {
		font-weight: bold;

		&--1 {
			color: $color-m2-1;
		}

		&--2 {
			color: $color-m2-2
		}

		&--3 {
			color: $color-m2-3;
		}
		}
	
}

/*Définition des titres des catégories de menu et animations soulignages*/
.name {
	transition: all ease-in-out;

	&--m1::before {
		@include underline(black);
	}

	&:hover::before {
		width: 100%;
	}


	&--m2-1 {
		color: $color-m2-1;
	}

	&--m2-1::before {
		@include underline ($color-m2-1);
	}

	&--m2-2 {
		color: $color-m2-2
	}

	&--m2-2::before {
		@include underline ($color-m2-2);
	}

	&--m2-3 {
		color: $color-m2-3;
	}

	&--m2-3::before {
		@include underline($color-m2-3);
	}


	&--m3-1::before {
		@include underline ($color-m3-1);
	}

	&--m3-2::before {
		@include underline ($color-m3-2);
	}

	&--m3{
		font-weight: initial;
	}
	&--m3-3::before {

		@include underline($color-m3-3);
	}

	&--m4 {
		font-weight: initial;
	}
	&--m4::before {

		@include underline($color-m4-2);
	}
}



/* Définition des réglages : décorations latérales des catégories du menu 2: Le chic à la française*/

.decoration {
	width: 30%;
	height: 8px;
	&__left {
		clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 50%);

		&-1 {
			background-color: $color-m2-1;
		}

		&-2 {
			background-color: $color-m2-2;
		}

		&-3 {
			background-color: $color-m2-3;
		}
	}
	&__right {
		clip-path: polygon(10% 0%, 100% 50%, 10% 100%, 0% 50%);

		&-1 {
			background-color: $color-m2-1;
		}

		&-2 {
			background-color: $color-m2-2;
		}

		&-3 {
			background-color: $color-m2-3;
		}
	}
}

/* ---------------------------------------- */
/* ==            PAGE MENTIONS LEGALES      */
/*---------------------------------------- */
.mentions {
	width: 80%;
	margin: auto;
}


/* ---------------------------------------- */
/* ==       MEDIAS QUERIS        */
/*---------------------------------------- */

/*     VERSION TABLETTE      */
 @media all and (min-width: 768px) {
	/* Page d'accueil */	 
	 .container {
		flex-direction: row;
		justify-content: center;
		width: 90%;
		flex-wrap: wrap;
		margin: auto;
	}

	.menu {
		width: 276px;
		height: 384px;
		margin: 30px;
	}

	.button--points {
		font-size: 2.2em;
		margin: 15px auto 110px auto;
		padding: 12px 35px;
		width: 277px;
	}

	.footing__button {
		font-size: 1.7em;
	}

	/* Pages menus */

	.menu__page {
		margin: auto auto 150px auto;
		width: 70%;
		max-width: 750px;
		padding: 45px;
		&--title {
			width: 50%;
		}
	}
	.heading {
		margin-bottom: 50px; 
		&__title {
			font-size: 3em; 
		}
	}
	

	.name {
		font-size: 1.4em;
	}

	.footing {
		/*width: 96%;
		padding: 2%;*/
		&__box {
			height:85px;
		}
	}
}

/*     VERSION DESKTOP      */
@media all and (min-width: 992px) {
	/* Page d'accueil */
	.menu {
		width: 322px;
		height: 448px;
		margin: 45px;
	}

	.menu__title, .menu__link {
		font-size: 1.9em;
		
	}

	.button--points {
		margin: 15px auto 140px auto;
		
	}

	

}




