/* ---------------------------------------- */
/* == DEFINITIONS DES POLICES*/
/*---------------------------------------- */
@font-face { /* Polices utilisee pour le logo */
    font-family: 'Roboto-Black';
    src: url('fonts/Roboto-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* Police utilisee pour le menu 1 : la note enchantee */
    font-family: 'Devonshire-Regular';
    src: url('../fonts/Devonshire-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* Police utilisee pour le menu 2 : Le chic a la francaise  */
    font-family: 'LobsterTwo-Regular';
    src: url('../fonts/LobsterTwo-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* Police utilisee pour le menu 3: Le delices des papilles  */
    font-family: 'DancingScript';
    src: url('../fonts/DancingScript-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* Police utilisee pour le menu 4: La palette du gout  */
    font-family: 'KaushanScript-Regular';
    src: url('../fonts/KaushanScript-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face { /* Police utilisee pour le contenues menus 1, 3 et 4 */
    font-family: 'PatrickHand-Regular';
    src: url('../fonts/PatrickHand-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
