/* ---------------------------------------- */
/* ==            PAGE MENTIONS LEGALES      */
/*---------------------------------------- */
.mentions {
    width: 85%;
    margin: auto auto 80px auto;
    overflow-wrap: break-word;
}
